//Color variables to be used across all files

//Colors for dark mode
$dark-font-color: white;
$dark-background: #313131;
$dark-font-color-hover: #acabab;
$dark-water-color-top: #1e485b;
$dark-water-color-bottom: #07171d;

//Colors for light mode

//General Colorsp
