# config.yml

backend:
  name: git-gateway
  branch: master # Branch to update (optional; defaults to master)
media_folder: 'assets/uploads'
collections:
  - name: 'blog'
    label: 'Blog'
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    folder: 'blog/_posts'
    editor:
      preview: false
    fields:
      - { label: "Featured Image", name: 'thumbnail', widget: "image" }
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Publish Date', name: 'date', widget: 'datetime' }
      - { label: 'Description', name: 'description', widget: 'text' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
      - { label: 'Tags', name: 'tags', widget: 'select',
          options: ['personal','technical']
        }
  - name: 'projects'
    label: 'Projects'
    folder: 'project/_posts'
    create: true
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    editor:
      preview: false
    fields:
      - {label: "Featured Image", name: 'thumbnail', widget: "image"}
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Description of Product', name: 'description', widget: 'markdown' }
      - { label: 'What I learned', name: 'learned', widget: 'markdown' }
      - { label: 'Other', name: 'body', widget: 'markdown' }
      - { label: 'Technologies Used', name: 'technologiesUsed', widget: 'list', 
          min: 1, 
          allow_add:true, 
          field: {label: 'tech', name:'tech', widget: 'string'}
        }
      - { label: 'Tags', name: 'tags', widget: 'select',
          options: ['personal', 'professional']
        }