---
permalink: /blog/
---

<!--Layout used for blog posts -->
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" {{page.description}}>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.4/dist/semantic.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body style="background: radial-gradient(ellipse at center, #252525 50%,#3d3d3d 99%)">
  <div class="ui inverted fixed menu">
    <a class="item" href="../blog">
      🡄 Go Back
    </a>
  </div>
  <div class="post">
    <div class="ui very padded segment inverted" style="display:flex">
      <div>
        <img src="{{ page.thumbnail }}" class="post-header-img">
        <div class="post-title">{{ page.title }}</div>
        {{ content }}
      </div>
    </div>
  </div>
</body>

</html>